<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zsmile.db.dao.OrderDao">

    <select id="selectList" resultType="top.zsmile.db.entity.OrderEntity">
        select * from tb_order;
    </select>

    <insert id="insertOrder" parameterType="top.zsmile.db.entity.OrderEntity" >
        insert into tb_order(id,user_id) value(#{info.id},#{info.userId});
    </insert>

    <delete id="deleteOrderById" parameterType="java.lang.Long" >
        delete from tb_order where id=#{id}
    </delete>

    <update id="updateOrder" parameterType="top.zsmile.db.entity.OrderEntity">
        update tb_order set id=#{info.id} where user_id = #{info.userId}
    </update>

</mapper>
