<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zsmile.db.dao.OrderDao">

    <select id="selectList" resultType="top.zsmile.db.entity.OrderEntity">
        select * from tb_order;
    </select>

    <insert id="insertNewId" parameterType="java.lang.Long" >
        insert into tb_test(id) value(#{id});
    </insert>

</mapper>
